<%- include ("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header centralize"><%=blog.title%></div>
    <div class="ui attached "> 
        <div class="item">
            <img class="ui centered rounded image" src = "<%= blog.image%>">
            <div class="content">
              <span><%=blog.created.toDateString()%></span>
        </div>
    </div>     
    <div class="description">
         <h4> <%= blog.content %></h4>
    </div>

    <div class="ui container clearing segment"> 
        <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
            <button class="ui red  left floated button "> Delete Post </button>
        </form>    

        <form class="ui right floated" action="/blogs/<%=blog._id%>/edit" method="GET">
            <button class="ui blue basic right floated button "> Edit Post </button>
        </form> 
  </div> 
</div>




<%- include ("partials/footer") %>